*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
}
/* ------------------------- */

.top-bar {
    background-color: #ec362d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    z-index: 2;
}
/* ------------------------- */

main {
    padding-top: 106px ;
}
/* ------------------------- */

.app {
    height: calc(100vh - 69px);
    position: fixed;
    top: 69px;
    left: 0;
    width: 100%;
    overflow-y: auto;
}

/* CSS TELA 01 */


.add-quizz-btn {
    cursor: pointer;
}

.your-quizzes.created {
    width: 1050px;
    height: 181px;
    margin: 77px auto 90px auto;
    border-radius: 5px;
}
.your-quizzes-header {
    display: flex;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.your-quizzes-header ion-icon {
    font-size: 30px;
    color: #ec362d;
}
.your-quizzes-header p {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.your-quizzes-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.your-quizz {
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
    border-radius: 5px;
}

.your-quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.your-quizz p {
    margin: 0 19px;
    position: absolute;
    bottom: 15px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    word-break: keep-all;
}

.your-quizzes.not-created {
    width: 1050px;
    height: 181px;
    margin: 77px auto 90px auto;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

p.quizz-not-created {
    width: 250px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    color: #b9b9b9;
    word-break: keep-all;
}

.create-quizz-btn {
    width: 151px;
    height: 40px;
    background-color: transparent;
    border: 1px dashed #ec362d;
    border-radius: 50px;
    font-family: Roboto;
    text-align: center;
    color: #ec362d;
}

.create-quizz-btn:hover {
    cursor: pointer;
}

.general-quizzes {
    width: 1060px;
    margin: 0 auto;
    /* display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center; */
}

.all-quizzes-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin-bottom: 10px;
}

.general-quizzes-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.server-quizz {
    width: 340px;
    height: 181px;
    position: relative;
    border-radius: 5px;
}

.server-quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
    );
    position: absolute;
    top: 0px;
    border-radius: 5px;
}

.server-quizz p {
    margin: 0 19px;
    position: absolute;
    bottom: 15px;
    font-family: Roboto;
    font-size: 19px;
    line-height: 22px;
    color: #fff;
    word-break: keep-all;
}

.server-quizz:hover {
    cursor: pointer;
}

.hidden{
    display: none;
}

@media (max-width: 1100px) {
    .app {
        width: 100%;
        padding-bottom: 20px;
    }

    .your-quizzes.not-created {
        width: 90%;
        height: 181px;
    }

    .your-quizzes.created {
        width: 90%;
        height: fit-content;
        border-radius: 5px;
    }

    .your-quizzes-header {
        width: 100%;
    }
    .your-quizzes-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
    }

    .your-quizz {
        width: 100%;
        border-radius: 5px;
    }

    .your-quizz img {
    object-fit: cover;
    border-radius: 5px;
    }

    .general-quizzes {
        width: 90%;
    }

    .general-quizzes-list {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .server-quizz {
        width: 100%;
    }

    .server-quizz img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }
}
/* TELA 2 */

.result-title-container {
    width: 100%;
    background-color: #ec362d;
    padding: 23px;
    color: #ffffff;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

.text-result {
    color: #484848;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
}

#true {
    color: #009c22;
}

#false {
    color: #ff4b4b;
}

.normal-style p {
    color: #000;
}
.box-result {
    display: flex;
}

.image-result {
    margin-top: 10px;
    margin-right: 10px;
    width: 50%;
}

.top-quiz-container {
    position: relative;
    width: 100%;
    height: 227px;
    background-color: #000;
}

img.icon-main-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

span.quiz-title {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    z-index: 2;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 60px;
}

.question-container {
    padding: 30px;
    margin: 0 auto;
    width: 759px;
    margin-top: 42px;
    box-shadow: 0px 0px 10px 0px #0000000d;
}

.question-title {
    color: #ffffff;
    height: 137.99081420898438px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
}

.answer {
    height: 200px;
    width: 329px;
    margin-bottom: 10px;
    text-align: left;
    margin-top: 20px;
}

.answer img {
    height: 175.20184326171875px;
    width: 100%;
    object-fit: cover;
}

.answer p {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 5px;
}

.reload-button {
    align-items: center;
    background-color: #ec362d;
    color: #ffffff;
    font-size: 18px;
    height: 54px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    align-self: center;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}

.reload-button:hover {
    filter: brightness(108%);
}

.go-back-button {
    width: 220px;
    border: none;
    color: #818181;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

.go-back-button:hover {
    cursor: pointer;
}

.quiz-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


    @media (max-width: 1100px) {
    .question-container {
        width: 100%;
        height: 100%;
    }
    .image-result {
        margin: 10px 0px;
        width: 100%;
    }
    .box-result {
        display: inline;
    }

    .answer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
        width: 48%;
        margin-bottom: 10px;
        text-align: left;
        margin-top: 20px;
    }
    .answer img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

}
.transparent .answer {
    opacity: 0.2;
    pointer-events: none;
}

div .answer.selected {
    opacity: 1;
}

/* TELA 3 */

.criacao-quiz {
    display: flex;
    flex-direction: column;
    text-align:center;
}

span {
    font-weight: bold;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 256px;
    padding: 0 18px;
    margin-top: 29px;
    background-color: #FFF;
    
}
.criacao-quiz__perguntas form {
    justify-content: space-evenly;
    height: 825px;
}
.criacao-quiz__niveis form {
    justify-content: space-evenly;
    height: 439px;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    margin: 0 0 12px;
    font-weight: bold;
    font-size: 20px;
}

input {
    height: 46px;
    margin: 4px 0;
    padding: 0 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-size: 19px;
}
.criacao-quiz__perguntas input {
    margin: 0 0 14px;
}
.descricao-nivel{
    height: 177px;
}

button {
    width: 323px;
    height: 54px;
    margin-top: 29px;
    font-size: 18px;
    color :#FFF5F4;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
}
button.home {
    color: #818181;
    background-color: #E5E5E5;
}

/* ------------------------- */

/* UTILITARIOS */
.oculto{
    display: none;
}

@media (max-width: 1100px) {
    .app {
    width: 100%;
    padding-bottom: 20px;
    }
    .seus-quizzes.nao-criado {
    width: 90%;
    height: 181px;
    }
    .seus-quizzes.criado {
    width: 90%;
    height: fit-content;
    border-radius: 5px;
    }

    .seus-quizzes-header {
    width: 100%;
    }

    .seus-quizzes-lista {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    }

    .seus-quizzes {
    width: 100%;
    border-radius: 5px;
    }

    .seus-quizzes img {
    object-fit: cover;
    border-radius: 5px;
    }

    .quizzes-de-outros-users {
    width: 90%;
    }

    .quizzes-de-outros-users-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    }

    .server-quizz {
    width: 100%;
    }

    .server-quizz img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    }
}
